body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: RGB(37,32,89);
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5 rem;
  font-weight: normal;
}

div {
  background-color: white;

}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}
.top-cloud {
  position: absolute;
}
.bottom-cloud {
  position: absolute;
  left: 550px;
}

.profile {
  position: relative;
  top: -33px;
}

.computerpic {
  width: 10%;
  height: 175px;
}
